[mysqld]
datadir=/data/mysql/data
socket=/data/mysql/mysql.sock

symbolic-links=0

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]
log-error=/data/mysql/data/mysql-master.log
pid-file=/data/mysql/data/mysql-master.pid
